:root {
    --defautl: #fff;
    --bg-light: #f6f6f6;
    --success: #26a69a;
    --reservabtn: #f92880;
    --reservabtnhv: #F06F9E;
    --reservabtnhv-antiguo: #f08cb1;
    --background-bienvenida: #fff3f8;
    --card-background: #f9b6cf;
    --card-highlight: #43192e;
    --subtitulos: #00C3CD;
    --lightText: #959595;

    /* --background-somos: #f9b6cf; same as  card-background*/
}

body {
    background-color: var(--bg-light);
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

nav {
    background-color: var(--success);
    padding: 10px 0;
}

nav .nav-link,
footer .nav-link {

    font-size: 15px;
}

footer .nav-link {
    color: white;
}

nav .nav-link:hover,
footer .nav-link:hover {
    color: #97B1AB;
}

footer {
    background-color: var(--success);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    height: 90px;
}

footer .nav-item {
    margin-right: 10px;
}

/* PROFILE */
.card-profile {
    background-color: var(--card-background);
}

.card-profileinfo {
    background-color: var(--default);
}

.card-profileinfo-header {
    background-color: var(--card-highlight);
    color: var(--default);
}