:root {
    --gdark: #076054;
    --reservabtn: #F06F9E;
    --reservabtnhv: #f08cb1;
}

.btn-reserva {
    background-color: var(--reservabtn) !important;
    color: white !important;
}

.btn-reserva:hover {
    background-color: var(--reservabtnhv) !important;
    color: white !important;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

nav {
    background-color: var(--gdark);
    padding: 10px 0;
}

nav .nav-link,
footer .nav-link {
    color: white;
    font-size: 15px;
}

nav .nav-link:hover,
footer .nav-link:hover {
    color: #97B1AB;
}

footer {
    background-color: var(--gdark);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

footer .nav-item {
    margin-right: 10px;
}

.letra-btn {
    margin: 8px 8px 8px 0;
    width: 40px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: var(--gdark);
    background-color: #fff;
    border: 1px solid var(--gdark);
    border-radius: 3px;
}

.letra-btn:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid var(--gdark);
}

.especialidades-container {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 40px 10px;
}

.especialidades-titulo {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
    padding: 10px;
    background-color: var(--gdark);
    margin-top: 40px;
    border-radius: 5px;
}

#especialidades-list li {
    margin-top: 20px;
}

.especialidad-card-body {
    background-color: #489385;
    color: white;
    text-align: justify;
    padding: 40px 10px;
    height: 100%;
    width: 100%;
}

/* .especialidad-card-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} */