{% load static %}
<header>
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'armois/img/logo.png' %}" alt="LOGO" width="150" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'dashboard' %}"><i class="bi bi-speedometer2 d-block mb-1 fs-5"></i>Dashboard</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'agregar_especialidad' %}"><i class="bi bi-clipboard-plus d-block mb-1 fs-5"></i>Nueva Especialidad</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'agregar_profesional' %}"><i class="bi bi-person-plus d-block mb-1 fs-5"></i>Nuevo Profesional</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'agregar_horario' %}"><i class="bi bi-calendar-plus d-block mb-1 fs-5"></i>Nuevo Horario</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'listar_reservas' %}"><i class="bi bi-clock-history d-block mb-1 fs-5"></i>Ver Atenciones</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="{% url 'profile' %}"><i class="bi bi-person d-block mb-1 fs-5"></i>Ver Perfil</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link btn btn-reserva text-uppercase ms-0 ms-lg-2" href="{% url 'logout' %}" role="button">Desconectarse</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>