{% extends 'dashboard/layout.html' %}

{% block title %}
  <title>Dashboard</title>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">Lista de Reservas</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Paciente</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Zona Horaria</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for reserva in reservas %}
          <tr>
            <td>{{ reserva.paciente }}</td>  <!-- Adjust attribute names based on your model -->
            <td>{{ reserva.inicio }}</td>
            <td>{{ reserva.fin }}</td>
            <td><button type="button" class="btn btn-primary">Editar</button></td>
            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
