{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}
  <title>Dashboard</title>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">Lista de Reservas</h1>
    {% if reservas %}
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Profesional</th>
            <th>Especialidad</th>
            <th>Sub Especialidad</th>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Término</th>
            <th>Modificar</th>
            <th>Finalizar</th>
          </tr>
        </thead>
        <tbody>
          {% for reserva in reservas %}
            {% if reserva.is_active %}
              <tr>
                <td>{{ reserva.paciente.nombre }}</td>
                <td>{{ reserva.profesional.nombre }} {{ reserva.profesional.apellido }}</td>
                <td>{{ reserva.especialidad.nombre }}</td>
                <td>{{ reserva.subespecialidad.nombre }}</td>
                <td>{{ reserva.horario.fecha }}</td>
                <td>{{ reserva.horario.hora_inicio }}</td>
                <td>{{ reserva.horario.hora_fin }}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarReserva" data-reserva-id="{{ reserva.id }}" data-paciente-nombre="{{ reserva.paciente.nombre }}" data-profesional-id="{{ reserva.profesional.id }}" data-especialidad-id="{{ reserva.especialidad.id }}" data-horario-id="{{ reserva.horario.id }}">Editar</button>
                </td>
                <td>
                  <button type="button" class="btn btn-success" data-reserva-id="{{ reserva.id }}" onclick="finalizarReserva('{{ reserva.id }}')">Finalizar</button>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No hay reservas disponibles.</p>
    {% endif %}

    {% if reservas %}
      {% include 'dashboard/modalEditarReserva.html' %}
    {% endif %}

    <script src="{% static 'dashboard/js/modal.js' %}"></script>
  </div>
{% endblock %}
