{% extends 'armois/layout.html' %}
{% load static %}
{% block title %}
  <title>Especialidades</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h3 class="especialidades-titulo">Profesionales y Especialidades</h3>
    <div class="row">
      <div class="col-12 col-md-12">
        <div id="speciality-carousel" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'armois/bienvenidoss.png' %}" class="d-block w-100" alt="All Specialities" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#speciality-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#speciality-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-5 especialidades-container">
      <div class="col-12 col-md-12">
        <h1>Búsqueda de Especialidades por Abecedario</h1>
        <p>Bienvenido al Centro Médico Integral Armois, donde nos dedicamos a ofrecer una amplia gama de especialidades médicas y servicios de atención de salud de alta calidad para satisfacer las necesidades de nuestra comunidad.</p>
        <p>Nuestra clínica cuenta con un equipo de profesionales altamente calificados y comprometidos con el bienestar y la atención integral de nuestros pacientes. Estamos dedicadas y dedicados a proporcionar diagnósticos precisos, tratamientos efectivos y cuidado compasivo en un entorno cómodo y acogedor.</p>
        <p>Para facilitar la búsqueda de nuestras especialidades médicas, hemos organizado a estas en orden alfabético, permitiéndole encontrar fácilmente la información que necesita sobre las diferentes áreas de atención médica que ofrecemos.</p>
        <p>Explore nuestras especialidades a continuación y descubra cómo podemos ayudarle a usted y a su familia a mantenerse saludables y activos.</p>
        <div id="letras">
          {% for letra in letras %}
            <button class="letra-btn btn btn-info">{{ letra }}</button>
          {% endfor %}
        </div>

        <div id="especialidades-list">
          {% for especialidad in especialidades %}
            <ul>
              <li>
                <a href="{% url 'detalle_especialidad' especialidad.id %}">{{ especialidad.nombre }}</a>
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
