<!-- formulario seleccionar_reserva.html -->
{% extends 'armois/layout.html' %}
{% load static %}
{% block title %}
  <title>Reservas Médicas</title>
{% endblock %}

{% block content %}
  <div class="container">
    <form id="agendarForm" class="formulario-reserva mt-5" method="post" action="{% url 'solicitar_datos_paciente' %}" novalidate>
      {% csrf_token %}
      <fieldset>
        <legend class="legend-titulo">¡Reserva tu hora con nosotras/os!</legend>
        <div class="mb-3">
          <label for="cboEspecialidad" class="form-label">Especialidad:</label>
          <select id="cboEspecialidad" class="form-select" aria-label="Especialidad Select" required></select>
        </div>
        <div class="mb-3">
          <label for="cboSubespecialidad" id="subespecialidadLabel">Subespecialidad:</label>
          <select id="cboSubEspecialidad" class="form-select" aria-label="Subespecialidad Select"></select>
        </div>
        <div class="mb-3">
          <label for="cboProfesional" id="profesionalLabel">Profesional:</label>
          <select id="cboProfesional" class="form-select" aria-label="Profesional Select" name="cboProfesional" required></select>
        </div>
        <div class="mb-3">
          <label for="cboHorario" id="horarioLabel">Horario:</label>
          <select id="cboHorario" class="form-select" aria-label="Horario Select" name="horario" required>
            <!-- Opciones de horarios -->
          </select>
        </div>

        <input type="hidden" id="dia" name="dia" value="" />
        <input type="hidden" id="mes" name="mes" value="" />
        <input type="hidden" id="anio" name="anio" value="" />
        <input type="hidden" id="hora_inicio" name="hora_inicio" value="" />
        <input type="hidden" id="hora_fin" name="hora_fin" value="" />
        <input type="hidden" id="id_horario_atencion" name="id_horario_atencion" value="" /> <!-- Nuevo campo oculto -->

        <button type="submit" class="btn btn-primary" value="agendar_profesional">Ir a datos personales</button>
      </fieldset>
      <!-- Contenedor para la alerta -->
      <div id="alertContainer" class="container mt-3">
        <div id="alertMessage" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
          <strong>¡Reserva realizada!</strong> La cita se ha reservado con éxito.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </form>
  </div>

  <script src="{% static 'armois/js/reservas.js' %}"></script>
  <script>
    // Evento correcto para el select
    document.getElementById('cboHorario').addEventListener("change", function(){
      const horarioId = document.getElementById('cboHorario').value;
      document.getElementById('id_horario_atencion').value = horarioId;
    });
  
    document.addEventListener('DOMContentLoaded', function () {
      const showAlert = {{ show_alert|yesno:"true,false" }};
      const alertMessage = document.getElementById('alertMessage');
  
      if (showAlert && alertMessage) {
        // Mostrar la alerta
        alertMessage.style.display = 'block';
      }
    });
  </script>
  
{% endblock %}
