{% extends 'armois/layout.html' %}
{% load static %}
{% block title %}
  <title>Reservas Médicas</title>
{% endblock %}

{% block content %}
  <form id="agendarForm">
    <label for="cboEspecialidad">Especialidad:</label>
    <select id="cboEspecialidad"></select>

    <label for="cboSubEspecialidad">Subespecialidad:</label>
    <select id="cboSubEspecialidad"></select>

    <label for="cboProfesional">Profesional:</label>
    <select id="cboProfesional"></select>

    <!-- Otros campos del formulario para la cita -->
    <input type="submit" value="Agendar" />
  </form>
{% endblock %}
